<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  </head>
  <body>
  <div id="login">

    <nav>
      <div class="nav-wrapper">
        <div class="brand-logo center">LOGIN</div>
        <!-- <a href="#" class="brand-logo center"><i class="material-icons">playlist_add_check</i></a> -->
        <ul id="nav-mobile" class="right">
          <li><a href="register.html">Registration</a></li>
        </ul>
      </div>
    </nav>

    <div class="container">

      <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s6">
              <input v-model='username' type="text" class="validate" name="username">
              <label for="username">Username</label>
            </div>
            <div class="input-field col s6">
              <input v-model='password' type="password" class="validate" name="password">
              <label for="password">Password</label>
            </div>
          </div>
          <button class="btn waves-effect waves-light" type="button" name="login" v-on:click='login()'>Submit
            <i class="material-icons right">send</i>
          </button>
        </form>
      </div>
      <br>
      <p>Don't have account? <a href="register.html">Register here</a> <br> or </p>
      <div class="fb-login-button" data-max-rows="1" data-size="medium" data-button-type="login_with" data-show-faces="false" data-use-continue-as="false"></div>

      <!-- FACEBOOK AREA -->
      <script>
        window.fbAsyncInit = function() {
          FB.init({
            appId      : '1619612308090266',
            xfbml      : true,
            version    : 'v2.10'
          });
          FB.AppEvents.logPageView();
        };

        (function(d, s, id){
           var js, fjs = d.getElementsByTagName(s)[0];
           if (d.getElementById(id)) {return;}
           js = d.createElement(s); js.id = id;
           js.src = "//connect.facebook.net/en_US/sdk.js";
           fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        FB.getLoginStatus(function(response) {
          statusChangeCallback(response);
        });
      </script>

      <div id="fb-root"></div>
      <script>
        (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/id_ID/sdk.js#xfbml=1&version=v2.10&appId=1619612308090266";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
      </script>


      <!-- <div
        class="fb-like"
        data-share="true"
        data-width="450"
        data-show-faces="true">
      </div> -->

    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script type="text/javascript" src="lib/login.js"></script>
  </div>
  </body>
</html>
