<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Register</title>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  </head>
  <body>
  <div id="register">

    <nav>
      <div class="nav-wrapper">
        <div class="brand-logo center">REGISTRATION</div>
        <!-- <a href="#" class="brand-logo center"><i class="material-icons">playlist_add_check</i></a> -->
        <ul id="nav-mobile" class="right">
          <li><a href="login.html">Login</a></li>
        </ul>
      </div>
    </nav>

    <div class="container">

      <div class="row">
        <form class="col s12" method="post">
          <div class="row">
            <div class="input-field col s12">
              <input v-model='name' type="text" class="validate" name="name" required>
              <label for="name">Name</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s6">
              <input v-model='email' type="email" class="validate" name="email" required>
              <label for="email">Email</label>
            </div>
            <div class="input-field col s6">
              <input v-model='username' type="text" class="validate" name="username" required>
              <label for="username">Username</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s6">
              <input v-model='password' type="password" class="validate" name="password" required>
              <label for="password">Password</label>
            </div>
            <div class="input-field col s6">
              <input v-model='confirm_password' type="password" class="validate" name="confirm_password" required>
              <label for="confirm_password">Confirm Password</label>
            </div>
          </div>
          <button class="btn waves-effect waves-light" type="button" name="submit" v-on:click='register()'>Submit
            <i class="material-icons right">send</i>
          </button>
        </form>
      </div>

    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script type="text/javascript" src="lib/register.js"></script>
  </div>
  </body>
</html>
